/* small screen */

@media only screen and (max-width:550px) {

    .nav {
        height: 80px;
    }

    .same-txt {
        text-align: center;
        font-size: 1.25rem;
    }

    .txt {
        padding-top: 23px;
        padding-bottom: 27px;
        padding-right: 24px;
        padding-left: 24px;
    }

    .txt-big {
        font-size: 2rem;
    }

    .nav-logo {
        width: 6rem;
        left: 7%;
    }

    .nav-btn {
        right: 10%;
    }

    .btn-sm {
        padding: 7px 15px;
    }

    .inp {
        flex-direction: column;
    }

    .inp-email {
        margin-right: 0;
        width: 100%;
        margin-bottom: 14px;
    }

    .bg-container {
        height: auto;
    }

    .sec1-parent {
        flex-direction: column;
    }

    .sec2-parent {
        flex-direction: column;
    }

    .sec3-txt {
        padding: 0;
        text-align: center;
    }


    .sec1-tv-img {
        width: 100%;
        height: 246px;
    }

    .sec1-tv-img img {
        width: 100%;
    }

    .sec-txt {
        margin-bottom: -5px;
    }

    .inp-last {
        width: 95%;
    }

    .ans-ques,
    .ques {
        width: 95%;
    }

    .que,
    .ans-ques {
        font-size: 18px;
    }

    .footer-parent {
        padding: 0;
        display: flex;
    }

    .d3 {
        grid-row: 3 / 3;
    }

    .extra {
        grid-row: 4 / 5;
    }

    .np {
        padding-bottom: 35px;
    }

    a{
        padding: 14px 16px;
        font-size: 14px;
    }
    
}

/* large screen */
@media only screen and (min-width:551px) {
    .inp {
        flex-direction: row;
    }

    .nav {
        height: 80px;
    }

    .same-txt {
        text-align: center;
        /* font-size: 1.25rem; */
    }

    .txt {
        padding-top: 23px;
        padding-bottom: 27px;
        padding-right: 24px;
        padding-left: 24px;
    }

    .txt-big {
        /* font-size: 2rem; */
    }

    .nav-logo {
        /* width: 6rem; */
        /* left: 7%; */
    }

    .nav-btn {
        right: 10%;
    }

    .btn-sm {
        padding: 7px 15px;
    }

    .inp-email {
        width: 60%;
    }

    .sec1-parent {
        flex-direction: column;
    }

    .sec2-parent {
        flex-direction: column;
    }

    .sec3-txt {
        padding: 0;
        text-align: center;
    }


    .sec1-tv-img {
        width: 70%;
        height: 346px;
    }

    .sec1-tv-img img {
        width: 100%;
    }

    .sec2-img-div {
        height: 378px;
        width: 450px;
    }

    .inp-last {
        width: 40%;
    }

}

@media only screen and (min-width:960px) {
    .sec1-parent {
        flex-direction: row;
    }

    .sec2-parent {
        flex-direction: row-reverse;
    }

    .sec3-mg-div {
        height: 375px;
        width: 540px;
    }

    .sec-txt {
        margin-left: 0;
    }

}

@media only screen and (min-width:1530px) {
    .sec1-tv-img img {
        width: 86%;
    }
}

@media only screen and (min-width:1640px) {
    .sec1-tv-img img {
        width: 77%;
        height: 541px;
    }
}

@media only screen and (min-width: 2115px) {
    .sec1-tv-img {
        width: 42%;
        height: 346px;
    }
}