/* small mobile */

@media only screen and (max-width:320px) {

    .nav {
        height: 80px;
    }

    .same-txt {
        font-size: 1.25rem;
    }

    .txt {
        padding-top: 23px;
        padding-bottom: 27px;
        padding-right: 24px;
        padding-left: 24px;
    }

    .txt-big {
        font-size: 2rem;
    }

    .nav-logo {
        width: 6rem;
        left: 7%;
    }

    .nav-btn {
        right: 7%;
    }

    .btn-sm {
        padding: 7px 15px;
    }

    .inp {
        flex-direction: column;
    }

    .inp-email {
        margin-right: 0;
        width: 100%;
        margin-bottom: 14px;
    }

    .bg-container {
        height: auto;
    }

    .sec1-parent {
        flex-direction: column;
    }

    .sec1-tv-img {
        width: 121%;
        height: 246px;
    }

}